.register-form {
  visibility: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-form-title {
  text-transform: uppercase;
  text-decoration-line: underline;
  font-size: 1.5em;
  font-weight: bold;
}
.register-form-title span {
  text-transform: uppercase;
  text-decoration-line: underline;
  font-size: 1em;
  font-weight: bold;
  color: #9933ff;
}
.register-form-req {
  font-size: 20px;
  font-weight: bold;
}
.register-button {
  margin: 10px;
  width: 50%;
  height: 40px;
  border: none;
  background-color: #9933ff;
  color: black;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  transition-duration: 0.4s;
}
.register-button:hover {
  background-color: #000000;
  color: #ffffff;
  transform: scale(1.1);
}

.goToLogin-button {
  margin: 10px;
  width: 50%;
  height: 40px;
  border: #000000;
  border: solid;
  background-color: #ffffff;
  color: black;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  transition-duration: 0.4s;
}

.goToLogin-button:hover {
  transform: scale(1.1);
}
